table
    thead
        tr 
            th Source
            th Name
            th Amount
    tbody
        each trans in transactions
            tr
                td 
                    span #{trans.name}