table
    thead
        tr 
            th Source
            th Name
            th Amount
    tbody
        each trans in transactions
            tr
                td #{trans.source}
                td #{trans.name}
                td #{trans.amount}