form(action="/create") 
    label Name:
    input(name="name")
    br
    label Amount:
    input(name="amount", type="number")
    br
    label Source:
    input(name="source")
    br
    button(type="submit") test