form(action="/create")
    label(class="h3") Create a transaction
    div(class="row")
        label(class="col-3") Name:
        input(name="name" class="col-9")
    div(class="row")
        label(class="col-3") Amount:
        input(name="amount" type="number" class="col-9")
    div(class="row")
        label(class="col-3") Source:
        input(name="source" class="col-9")
    
    input(type="submit")