extends layout

block content
  h1= title
  p Welcome to #{title}
  div#map !{sunburstTransByTag}
  include create/upload.pug
  include create/transaction.pug
  include list/transactionlist.pug
  include list/tagspend.pug
  +list(untaggedTransactions)
  +list(transactions)